* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header {
    width:100%;
    top: 0;
    z-index: 1;
}

.top {
   
    display: flex;
    justify-content: center;
    font-size: clamp(1.3rem, 4vw, 2rem);
    font-weight: bolder;
    padding:0.4rem;
    border-radius: 12px;
    color:white;
    background-color: black;
    /* animation: move 10s linear infinite;
} */

 /* @keyframes move {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }*/
}  




.nav {
    display: flex;
    margin: 2rem auto;
    max-height: 27vh;
    max-width: 70%;
    overflow: hidden;
    border-radius: 125px;
    box-shadow: 2px 8px 16px grey;
}

.logo {
    width: 12vw;
    height: 12vw;
    min-width: 60px;
    min-height:60px;
    border-radius: 50%;
    margin: 0.2rem;
    background-image: url('zara.jpg');
    background-size: cover;
   
}

.bio {
    margin: auto;
    margin-left: -3.2rem;
}


.container {
    margin: auto;
    min-height: 50vh;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 3rem;
}

.box {
    flex: 1 1 22%;
    height: 250px;
    border-radius: 16px;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
    transition: flex 0.5s ease;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(184, 146, 146, 0.6);
}

.box:hover {
    flex: 1 1 40%;
}

.box1 { background-image: url(html.jpg); }
.box2 { background-image: url(css.jpg); }
.box3 { background-image: url(js.png); }
.box4 { background-image: url(cpp.jpg); }
.box5 { background-image: url(skills.jpg); }
.box6 { background-image: url(hobby.png); }


.text-box {
    text-align: center;
    padding: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box:hover {
    background-color: green;
}

.text-box > span {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 12px;
    background-color: rgb(213, 213, 236);
    color: green;
    font-weight: bold;
    cursor: pointer;
}


@media (max-width: 992px) {
    .nav {
        height: 12vh;
    }

    .box {
        flex: 1 1 45%;
    }
}

@media (max-width: 600px) {
    .nav {
        height:8vh;
        font-size:0.4rem;
      
    }

    .box {
        flex: 1 1 100%;
    }

    .top {
        font-size: 0.8rem;
    }
} 
